a:hover
    text-decoration none
@font-face
    font-family 'DRound'
    src url('../fonts/DINRoundOT.otf')
@font-face
    font-family 'DRound-Black'
    src url('../fonts/DINRoundOT-Black.otf')
@font-face
    font-family 'DRound-Bold'
    src url('../fonts/DINRoundOT-Bold.otf')
@font-face
    font-family 'DRound-Medi'
    src url('../fonts/DINRoundOT-Medium.otf')
#perfil
    background-color #952d98 
    h2
        font-family 'DRound-Medi'
        font-style normal
        font-size 14px
        color #fff
        margin-top 9px  
        margin-left -90%
    .conte0
        width 25px
        height 25px
        margin-top 5px
        padding-left 0.1px
        border-radius 255px 255px 255px 255px
        background-color #fff
        overflow hidden
        img
            max-width 100%
            margin-right 3px
            margin-bottom 5px
#unete
    background-color #01a6b0
    .barra
        position relative
        h2
            font-family 'DRound-Medi'
            font-style normal
            font-size 16px
            color #fff
            margin-top 15px
            margin-bottom 15px
            margin-left 10%
        i 
            position absolute
            right 0
            color #fff
            font-size 20px
            top 30%
            // right -5%
            right: 1%
            cursor pointer
            @media(min-width 992px) and (max-width 1200px)
                right 1%
    img
        width 100%
#mbanner    
    a
        width 100%  
    img
        width 100%
        background-image url("../img/top2.png")
        background-position center
        background-repeat no-repeat
        background-size cover   
#slider
    position relative
    img
        max-width 100%
        position relative
        // margin-bottom 50px
        margin-bottom: 0px
    h2
        font-family 'DRound-Bold'
        font-style normal
        font-size 40px
        -webkit-text-stroke 0.1px black
        color white
        top 73%
        left 7%
        position absolute
        text-shadow: -1px 6px 7px #000
    // li
    //     background-image: url('../img/banner.jpg')
    //     height 400px
header 
    background-color #fff
    padding-top 10px
    padding-bottom 10px
    position sticky
    top 0px
    z-index 99999
    border-bottom 1px solid #999999
    #logo
        img
            width 180p
    nav

        ul
            margin-top 15px
            margin-left 50px
            list-style none
            li
                display inline-block
                margin-right 10px
                margin-left 15px
            a
                font-family 'DRound-Medi'
                font-style normal
                font-size 18px
                color #061f5c   
                &:hover
                    text-decoration none
                    color #03b2bc   
#CaySa
    padding-top: 50px
    padding-bottom: 50px
    h2
        padding-bottom: 35px
        margin-bottom: 0px
        // text-align center
        font-family "DRound-Bold"
        font-style normal
        font-size 25px
        color #061f5c
        // margin-bottom -2%
        // &:first-child
        //     padding-bottom: calc(15px + 42)
    .calendario
        background-color #00a3ad
        // margin-top 14.5%
        border-radius 13px 13px 13px 13px
        .lista-fechas
            list-style: none
            padding-left: 0px
            display block
    .aCale  
        font-style 'DRound-Medi'
        font-style normal
        margin-top 10px
        margin-bottom 10px
        font-size 37px
        color #34c5c5
    .top1
        margin-top 10px
        margin-bottom -5px
    .top2
        font-family 'DRound'
        font-style normal
        font-size 15px
        color #a3dbdf
        width 70px
        height 35px
        display inline-block
        border-radius 30px 0px 0px 30px
        background-color #00b2bb
        padding-top 5px
        margin-left 25%
        i
            padding-right 5px
    .top3
        font-family 'DRound'
        font-style normal
        font-size 15px
        color #a3dbdf
        width 70px
        height 35px
        display inline-block
        border-radius 0px 30px 30px 0px
        background-color #00b2bb
        margin-right 10%
        margin-left -25%;
        padding-top 5px
        i
            padding-left 5px
    .pri
        .imgcale
            max-width 100%
            // margin-top 55%
            // margin-bottom -35%
        h3
            font-family "DRound-Medi"
            font-style normal
            font-size 16px
            color #999999       
            // margin-top 35%
            // margin-bottom -6%
            // margin-left 6%
            margin-right 10%
    .h-2
        .imgcale
            // margin-top 45%
            // margin-bottom -30%
            max-width 100%
        h3
            font-family "DRound-Medi"
            font-style normal
            font-size 16px
            color #999999       
            // margin-top 40%
            // margin-bottom -6%
            // margin-left 20%
    .lado-derecha-abajo
        &:before
            content ""
            position absolute
            top 1px
            left 100%
            width 60%
            height 100%
            border-width 40px;
            border-style solid;
            border-color transparent transparent transparent #34c5c5
    .active-1
        background-color #34c5c5
        font-family 'DRound-Medi'
        font-size 50px
        color #fff 
        width 190px
        height 80px
        display block
        z-index 5
        padding-left 70%
        padding-bottom 25px
        position relative
        text-decoration none
        span 
            font-style 'DRound-Medi'
            font-style normal
            margin-top 6px
            margin-bottom 10px
            font-size 20px
            color #fff
            position absolute
            top 25%
            left 12%
    .box-active
        background-color #061f5c
        // margin-right 5%
        margin-right: 0%        
        padding-top 2%
        padding-bottom 2%
        h3
            font-family "DRound"
            font-style normal
            font-size 18px
            // margin-top 15%
            // margin-left 15%
            color #fff
            // padding-left: 50px
            
        span
            font-family "DRound-Bold"
            font-style normal
            font-size 22px
            color #fff
        img
            max-width 200%
        div:first-child
            padding-left: 0px                
    /*CUMPLEAÑOS STYLUS */  
    .torta  
        // margin-left -10%
        // margin-left -3%
        // margin-bottom -3%
        // margin-top 3%
        position absolute
        top -15px
        left -15px
    .Cum-Borde
        // margin-top -15%
        box-shadow 0px 0px 9px 1px rgba(168,163,168,1)
        border-radius 13px 13px 13px 13px
        // padding-bottom: 15px
        padding-top: 15px
        .saludo
            // margin-top -5%
            // margin-bottom 5%
            a   
                font-family 'DRound-Medi'
                font-style normal
                font-size 16px
                width 150px
                height 30px
                display inline-block
                border-radius 25px
                background-color #00a3ad
                padding-top 1%
                margin-top -5%
                margin-bottom 5%
                padding-bottom 7%
                color #fff
                text-align center
                cursor pointer
                display inline-flex
                justify-content center
        ul
            li
                img
                    border-radius 50%
                    max-width: 130px
    .saludos
        // margin-top 10%
        // margin-left 10%
        border-radius 10px 10px 10px 10px
        h2
            font-family 'DRound-Bold'
            font-style normal
            font-size 40px
            color #2cc4ce
            -webkit-text-stroke 1.5px #086F93
            padding-bottom: 00px
            // margin-top -5%
    .conte2 
        width 160px
        height 160px
        margin-top 0%
        // margin-right -5%
        padding-left 0.1px
        border-radius 255px 255px 255px 255px
        background-color #00a3ad
        overflow hidden
        img
            // margin-right 50px
    .conte3
        // margin-right 35%
        h3
            font-family 'DRound-Bold'
            font-style italic
            font-size 24px
            color #952d98
            // margin-left 10%
            // margin-top 20%
        h4
            font-family 'DRound'
            font-style normal
            font-size 12px
            color #952d98
            // margin-left 15% 
    .conte-fecha
        margin-top 20px
        background-color #952d98
        border-radius 13px 13px 13px 13px
        #flag1
            color #00a3ad
            transform rotateY(180deg)
        #flag2
            color #00a3ad
        h2
            font-family 'DRound-Medi'
            font-size 18px
            font-style normal
            color #fff 
            padding-top 3%
            margin-bottom -1%
        h5
            font-family 'DRound-Bold'
            font-style italic
            font-size 13px
            color #fff
            // padding-top 24%
        h6
            font-family 'DRound'
            font-style italic
            font-size 14px
            color #fff
        a
            font-family 'DRound-Medi'
            font-style normal
            font-size 14px
            width 200px
            height 30px
            display inline-block
            border-radius 25px
            background-color #00a3ad
            padding-top 2.5px
            // margin-top 2%
            margin-bottom 4%
            color #fff
            text-align center   
    .conte4
        width 55px  
        height 55px
        border-radius 255px 255px 255px 255px
        background-color #00a3ad
        overflow hidden
        margin-top 25%
        margin-left 60%
    .conte4-1
        width 55px  
        height 55px
        border-radius 255px 255px 255px 255px
        background-color #00a3ad
        overflow hidden
        margin-top 45%
        margin-left 40%
    .especial
        padding-left: 35px
        padding-right: 35px
        padding-top: 10px
        padding-bottom: 10px
        .row.align-items-center
            // padding 22px
            padding-top: 20px
            // padding-bottom: 20px
            img
                border-radius 50%
        h2
            margin-bottom 0px
            padding-bottom: 10px
        a
            margin-top: 15px
    .nota-calendario
        .derecha
            padding-right: 0px
        .cuadro-img
            box-shadow: 0 0 9px 1px #a8a3a8
            border-radius: 13px 13px 13px 13px
            .row
                // ERAN 15
                padding-top: 25px
                padding-bottom: 25px
                min-height 152px
                img
                    max-width 100%
            .row.box-active
                img
                    transform scale(1.2)
                    margin-left 13px
                    // max-width: 160%
/*Estios de Campañas y Bienestar*/  
#Camp-Bien
    padding-bottom: 50px
    .bx-1
        // padding-bottom: 50px
        padding-bottom: 30px
    .Box-1
        padding-right: 10px
        background-color #e40046
        border-radius 13px 13px 13px 13px
        border 0px solid #000000
        // margin-top 20px
        margin-top: 0px
        // margin-bottom 40px
        margin-bottom: 0px
        img 
            width 100%
            margin-left: -15px
        h2
            font-family 'DRound-Bold'
            font-style normal
            font-size 26px
            color #fff
            // margin-top 25%
        p
            font-family 'DRound-Bold'
            font-style normal
            font-size 14px
            color #fff
        a
            // font-family 'DRound-Medi'
            // font-style normal
            font-family 'DRound-Bold'
            font-style normal                
            font-size 14px
            width 180px
            height 35px
            padding-top 6px
            border-radius 25px
            background-color #fff
            color #e40046
            text-align center
            display inline-flex
            justify-content center
            // margin-bottom 5%
    .Box-2
        background-color #41b6e6
        border-radius 13px 13px 13px 13px
        border 0px solid #000000
        margin-top: 0px
        // margin-top 10px
        // margin-bottom 40px
        margin-bottom: 0px
        padding-right: 10px
        img 
            width 100%
        h2
            font-family 'DRound-Bold'
            font-style normal
            font-size 26px
            color #fff
            // margin-top 25%
        p
            font-family 'DRound-Bold'
            font-style normal
            font-size 14px
            color #fff
        a
            // font-family 'DRound-Medi'
            // font-style normal
            font-family 'DRound-Bold'
            font-style normal                
            font-size 14px
            width 180px
            height 35px
            padding-top 6px
            border-radius 25px
            background-color #fff
            color #41b6e6
            text-align center
            display inline-flex
            justify-content center      
/* Estilos de  Historia de Docentes*/
    .Hist-Doc1
        padding-top: 45px
        padding-bottom: 45px
        border-radius 13px 13px 13px 13px
        background-color #041f63
        opacity 0.8
        // margin-top 3.5%
        margin-top: 0px
        h3
            font-family 'DRound-Bold'
            font-style normal
            font-size 25px
            color #fff
            // padding-bottom: 45px
            padding-bottom: 25px
            margin-bottom 0px
            // padding-top 10%
            // margin-bottom 5.5%
        #C-hist
            font-family 'DRound-Bold'
            font-style normal
            font-size 14px
            width 180px
            height 35px
            padding-top 6px
            padding-right 5px
            display inline-block
            border-radius 25px
            background-color #fff
            color #041f63
            text-align center
            // margin-top 3%
            // margin-top: 16px
            // margin-top: 20px
            margin-top: 0px
            // margin-bottom 8%
            // margin-bottom: 24px
        .Box
            width 320px
            height 320px
            // margin-top 2%
            border-radius 255px 255px 255px 255px
            background-color #fff
            overflow hidden
            // margin-left 18%
            margin auto
            img
                max-width 100%
                // margin-top 10%
                padding-top: 30px
        p
                // font-family 'DRound'
                // font-style normal
                font-family: 'DRound-Bold'
                font-style: normal             
                font-size 15px
                color #fff
                padding-top: 20px
                margin-bottom: 0px
                // margin-top 6%
                // margin-left 5%
    .Hist-Doc2  
        // margin-top 20px
        margin-top: 0px
        border-radius 13px 13px 13px 13px
        background-image url("../img/fondo-a.png")
        background-position center  
        background-repeat no-repeat
        background-size cover   
/* Estilos de docente del mes*/
#DocMes
    background-image url("../img/puntitos.png")
    background-position center  
    background-repeat no-repeat
    background-size cover
    background-color #169aa2
    img
        max-width 100%
    h2
        font-family 'DRound-Black'
        font-style normal
        font-size 25x
        color #fff
        // margin-top 25%
    p
        // font-family 'DRound'
        // font-style normal
        font-family: 'DRound-Bold'
        font-style: normal
        font-size 15px
        color #fff
    a
        // font-family 'DRound-Medi'
        // font-style normal
        font-family: 'DRound-Bold'
        font-style: normal
        font-size 14px
        width 210px
        height 35px
        padding-top 6px
        padding-right 5px
        display inline-block
        border-radius 25px
        background-color #952d98
        color #fff
        text-align center
        &:hover
            background-color #CB37FA
            text-decoration none
/* Estilos del footer */    
footer
    background-color #061f5c
    padding-top: 50px
    .heading
        &::before
            position absolute
            display block
            content ""
            width 150px
            height 1px
            // left 7%
            left 6%
            // top 29%
            top 16%
            background-color #fff
    h3
        font-family 'DRound-Bold'
        font-style normal
        font-size 18px
        margin-left 5px
        // margin-top 30px
        margin-top: 0px
        color #fff          
    p
        font-family 'DRound-Medi'
        font-style normal
        font-size 14px
        // margin-top 30px
        padding-top: 10px
        margin-left 5px
        color #fff
    ul
        // padding-top 10px
        padding-top: 5px
        list-style none
        margin-left -35px
        li
            padding-top 5px
            a
                font-family 'DRound-Medi'
                font-style normal
                font-size 15px
                color white
                &:hover
                    text-decoration none
#messa
    font-family 'DRound-Medi'
    font-style normal
    font-size 14px
    margin-left 5px
    color #fff
    &:hover
        text-decoration none
#rrss
    list-style none
    margin-left -80px
    margin-top 20px
    li
        display inline-block
        margin-left 10px
        margin-right 10px
        i
            font-size 19px
#conta
    list-style none
    margin-left 60px
    li
        display inline-block
        font-family 'DRound-Medi'
        font-style normal
        margin-left 5px
        margin-top 30px
        color #fff
        i
            transform rotateZ(100deg)
            font-size 15px
#mfooter
    margin-top 20px
    background-color #041444
    a
        color #232f52
        font-family 'DRound'
        font-style normal
        font-size 12px
        color: rgba(255,255,255,0.3)
    span
        // color #232f52
        font-family 'DRound'
        font-style normal
        font-size 12px
        color: rgba(255,255,255,0.3)

// @media(max-width 600px) 
//     header
//         display none
//     #perfil
//         h2
//             font-size 12px
//             margin-right -5%
//             margin-left 35%
//         .conte0
//             margin-bottom 5px
//             margin-left 35px
//     #unete
//         .barra
//             h2
//                 font-size 14px
//                 margin-left 1%
//             i 
//                 right -1%
//     #slider
//         h2
//             font-size 20px
//             top 60%
//     #CaySa  
//         .torta  
//             margin-left -12.5%
//         .Cum-Borde
//             margin-left 0%
//             margin-right 0%
//             .saludo
//                 margin-top -5%
//                 margin-bottom 5%
//                 a   
//                     margin-top 7%
//         .saludos
//             h2
//                 font-size 30px
//                 margin-right 10%
//         .conte2 
//             margin-top 10%
//             margin-right 70px
//         .conte3
//             margin-top -12%
//             margin-right 20%
//             h4
//                 margin-left 10% 
//         .conte-fecha
//             margin-left 0%
//             margin-right 0%
//             h2
//                 font-size 14px
//             a
//                 margin-bottom 5%    
//         .conte4
//             margin-top 10%
//             margin-left 40%
//             margin-bottom -20%
//         .conte4-1
//             margin-top 5%
//             margin-left 40%
//             margin-bottom -20%
//     #Camp-Bien
//         .Box-1
//             img
//                 display none    
//         .Box-2
//             img
//                 display none    
//             h2
//                 margin-top 10%
//                 font-size 19px  
//             p
//                 font-size 13px
//             a 
//                 margin-top 0%
//                 margin-bottom 5%
//         .Hist-Doc1
//             padding-bottom 1%
//             .Box
//                 margin-top 15%
//                 margin-left -29%
//                 width 140px
//                 height 140px
//             h3
//                 margin-bottom -5%           
//             p
//                 font-size 14px
//                 margin-left -50%
//                 margin-right 60%
//     #DocMes
//         margin-top 10%
//     footer
//         ul 
//             margin-left 40px
//         p   
//             margin-left 40px
//         #messa
//             margin-left 40px
//     #rrss
//         margin-left 20px
//         margin-top 20px
//     li
//         display inline-block
//         margin-left 10px
//         margin-right 10px
//         i
//             font-size 19px
//     #conta
//         margin-left 50px
//         li
//             font-size 14px
//             margin-left -10px
//             i 
//                 margin-right -19%                   
/* CELULARES */

// @media(max-width 767px)
@media(max-width 991px)
    // GENERALES        
    // .sy-pager
    //     bottom 60% !important
        
    // header
    //     display none        
    /* STILOS DE BARRA SUPERIOR MORADA*/
    #perfil
        h2
            font-size 12px
            margin-right -5%
            margin-left 35%
        .conte0
            margin-bottom 5px
            margin-left 35px
    /*ESTILOS DE BARRA NOTICIAS*/           
    #unete
        .barra
            h2
                font-size 12px
                margin-left -5%
            i 
                right -1%
                font-size: 16px
    /*SLIDER*/
    #slider
        h2
            // font-size 14px
            font-size: 20px
            text-shadow: -1px 2px 7px #000
            top 55%
        ul#slippry-demo
            li.nota
                margin-left: 0px !important
                margin-right: 0px !important
        // .sy-controls
        //     li.sy-prev
        //         display none !important
    /*Calendario y Cumpleaños*/ 

    /*Calendario*/


    /*Cumpleaños*/  
    #CaySa
        .Cum-Borde
            .saludo
                margin-top: 20px
        .nota-calendario
            padding-bottom: 50px
        .torta  
            // margin-left -12.5%
            margin-left: 0px
            margin-left: 
        .Cum-Borde
            margin-left 0%
            margin-right 0%
            .saludo
                // margin-top -5%
                margin-bottom 5%
                a
                    margin-top: 10px
        .saludos
            h2
                font-size 30px
                margin-right 10%
        .conte2 
            // margin-top 10%
            // margin-right 70px
        .conte3
            // margin-top -12%
            h4
                // margin-left 10% 
        .conte-fecha
            margin-left 0%
            margin-right 0%
            padding-bottom: 15px
            padding-top: 15px
            h2
                font-size 18px
                padding-bottom: 0px
            a
                width 160px   
        .conte4
            margin-top 10%
            margin-left 40%
            margin-bottom -20%
        .conte4-1
            margin-top 5%
            margin-left 40%
            margin-bottom -20%
        .lado-derecha-abajo
            &:before
                width 40%
        .not-event
            padding-top: 30px
            img
                max-width 100%
                padding-top: 5px
        .calendario
            .top1
                padding-right: 0px
            .lista-fechas
                text-align center
                li
                    margin-left: 7px
                    margin-right: 7px
                    display inline
                    .aCale
                        font-size: 27px
                        i
                            transform rotate(-90deg)
                    .active-1
                        span
                            display none
                        font-size: 40px
                        width 70px
                        height: 96px
                        padding-left: 0px
                        padding-bottom: 5px
                    .lado-derecha-abajo
                        display inline
                        &::before
                            // top 100%
                            // left 0%
                            // bottom 0%
                            // border-left 50px solid transparent
                            // border-right 50px solid transparent
                            // border-top 100px solid #34c5c5
                            top: 99%;
                            left: 0%;
                            bottom: 0%;
                            border-left: 21px solid transparent
                            border-right: 21px solid transparent
                            border-top: 24px solid #34c5c5                    
                    &:last-child
                        margin-left: 0px
        .pri
            .imgcale
                margin-top: 0px
            h3
                margin-top 0px
                margin-left: 0px
                padding-top: 10px
        .h-2
            h3
                margin-left: 0px
                // margin-top: 25%
        .box-active
            h3
                margin-top: 0px
                margin-left: 0px
                // margin-right: 15%
        .saludo
            // padding-top: 50px
            padding-top: 0px
            .especial
                padding-top: 30px
    /*Campañas y Bienestar*/
    #Camp-Bien
        .bx-1
            padding-bottom 50px
        .bx-2
            padding-bottom 50px
        .Box-1
            padding-top:    30px
            padding-bottom  30px
            img
                display none    
            h2
                // margin-top 5%
                font-size 19px
                padding-top: 3px
            p
                font-size 13px
                padding-left: 15px
                padding-right: 15px
            // a 
            //     margin-bottom 5%
        .Box-2
            padding-top:    30px
            padding-bottom  30px
            img
                display none    
            h2
                // margin-top 5%
                font-size 19px  
            p
                font-size 13px
                padding-left: 15px
                padding-right: 15px                
            // a 
            //     margin-bottom 5%
        /*Hist-Doc*/
        .Hist-Doc1
            // padding-bottom 1%
            padding-bottom: 45px
            .Box
                margin-top 15%
                margin-left -29%
                width 140px
                height 140px
            h3
                // margin-bottom -5%
                padding-left: 15px
                padding-right: 15px
                padding-bottom: 0px                
            p
                font-size 14px
                margin-left -50%
                margin-right 60%
                padding-left: 15px
                padding-right: 15px
        .Hist-Doc2
            margin-top: 0px
    #DocMes
        // margin-top 10%
        padding-top: 50px
        img 
            width 100%
        h2 
            // margin-top 5%
            margin-top: 0px    
    /* footer */
    footer
        ul
            margin-left 0px
            padding-left: 0px
            li
                display block
        p
            margin-left 0px
        #messa
            // margin-left 40px
            margin-left: 0px
        #conta
            margin-left: 0px
            li
                &:last-child
                    margin-top: 5px
            // li
            //     display block
            //     &:nth-of-type(1)
            //         display inline
            //     &:nth-of-type(2)
            //         display inline
        .heading
            &::before
                left 6%
                width 170px
                // top 55px
                top 24px
        #mfooter
            span
                font-weight: bold
                font-size: 13px
    #rrss
        margin-left 20px
        margin-top 20px
    li
        display inline-block
        margin-left 10px
        margin-right 10px
        i
            font-size 19px
    #conta
        margin-left 50px
        li
            font-size 14px
            margin-left -10px
            i 
                margin-right -19%

@media(min-width 768px) and (max-width 991px)
    #slider
        h2
            font-size: 30px
            top 65%
    #CaySa
        .conte2
            margin-right: 30px
            img
                margin-right: 0px
        .conte3
            margin-top: 0px
            padding-top: 20px
        .saludo
            .subt
                padding-bottom: 30px
        .calendario
            margin-top: 5.5%
        .box-active
            h3
                padding-top: 15px
        .h-2
            .imgcale
                margin-top: 0px
            h3
                margin-top: 0px
        .pri
            .imgcale
                margin-bottom: 0px
        .box-active
            margin-top: 0px
        .Cum-Borde
            .saludo
                a
                    padding-top: 2%
                    padding-bottom: 6%